
*{
    font-family: 'Montserrat', sans-serif;
     font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: deeppink;
    margin: 0;
    border: 0;
    background-color: white;
    position: relative;
    padding: 0 2rem;
}

.logo{
    display: flex;
    gap: -20px;
    
}
.lo-go{
    padding-top: 10px;
    padding-left: 90px;
    
}
.color{
    color: palevioletred;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
a:hover{
    color: #F00044;
}
.game{
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.nav-links{

list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 40px;
  padding-right: 50px;
}
.btn-primary{
    padding: 10px 15px 10px 15px;
    background-color: rgb(203, 194, 194) ;
    border-radius: 5px;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
   
}
.fa-brands{
    color: rgb(113, 10, 10);
}
.fa-tiktok{
    color: #F00044;
}
/*@media(max-width: 992px){
    .logo, .lo-go, .btn-primary,
    .game, .nav-links{
display: block;
    }

}*/
.banner{
    background-image: url(../B8A2-Gamer-Zone/images/Group\ 14.png);
    
    background: cover;
    justify-content: space-around;
    display: flex;  
  

}
.play{
    padding-top: 170px;
}
.para{
font-size: 85%;
color:rgb(116, 114, 114);
gap: 5px;

}
.goat{
    font-size: 200%;
    color: #F948B2;
}
.bttn{
 background-color: #951f40;
 border-radius: 15px;
 color:aliceblue;
 padding: 15px;
 gap: 10px;
 margin-left: 40px;
 cursor: pointer;
 font-size: 1.25rem;
 border: 0;

}
.class{
    background-color: rgb(57, 144, 144);
    margin-left: 10px;
}
.gamer{
    margin-top: 20px;

}
@media screen and (max-width: 576px)

{
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner
    {
        flex-direction: column;


    }
    .nav-links{
        flex-direction: column;
    }
    .gamer{
        flex-direction: column;
    }

}
@media screen and (min-width: 576) and (max-width: 670){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;

    }
}


